/*body {
	background-color: #111;
	color: #eee;
	font-size: 14px;
}
pre {
	margin: auto;
	width: 50%;
}
a {
	color: #88d;
	text-decoration: none;
}
a:visited {
	color: #d8d;
}
a:hover {
	color: #44d;
}*/

a {
	text-decoration: none;
}

ul {
    list-style-position: outside;
}

li {
    list-style-type: none;
    text-indent: -1em;
}

table, tr, td {
	border: 1px solid rgba(0, 0, 0, 0);
	table-layout: fixed;
	border-collapse: collapse;
}

table {
	margin-bottom: 1em;
}

td {
	padding: 0.25em;
}

tr > td {
	vertical-align: top
}

h1, h2, h3, ul {
	margin: 0;
}

td > h3 {
	padding-top: 0.5em;
	margin: 0;
}

p {
	margin-top: 0;
}

footer {
	font-size: 0.75em;
}

ul, li {
	margin-top: 0;
}

.print-only, .hidden, .print-only-table-row {
	display: none;
}

.personal-data-clause {
	font-style: italic;
	font-size: 0.75em;
}

.thesis-title {
	font-style: italic;
}

.document {
	width: 44em;
	margin: auto;
    margin-top: 2em;
	position: relative;
	font-family: "Times New Roman", Times, serif;
	font-size: large;
}

.wide {
    width: 60em;
}

.continuation-row {
    padding-left: 1.5em;
}

body {
    background: url(gfx/cleveland3.jpg);
    background-attachment: scroll;
    background-position: top right;
    background-repeat: no-repeat;
}

.photo {
	width: 13em;
	position: absolute;
	right: 0;
}

.summary {
	width: 45em;
}

.title {
	font-size: 2em;
}

.date {
	line-height: 2em;
}

.blog-title {
	font-size: 3em;
	text-align: center;
	display: block;
	text-align: center;
}

.blog-title a {
	color: #88d;
}

.mail-addr-postfix:before {
	content: " at gmail dot com";
}

.list-description {
	margin-bottom: 0;
}

.list {
	margin-top: 0;
	margin-bottom: 1em;
}

.pre-serif {
	font-family: "Times New Roman", Times, serif;
	white-space: pre-wrap;
	margin-top: 0;
}

.label {
	color: #555;
}

.bottom-space {
	margin-bottom: 1em;
}

@media print {
    .document {
        margin-top: unset;
        width: 60em;
    }

	.print-only {
		display: unset;
	}
	.print-only-table-row {
		display: table-row;
	}
	.screen-only {
		display: none;
	}
	a {
		color: black;
		text-decoration: none;
	}
	.mail-addr-postfix:before {
		content: "\0040" "gmail" "\002e" "com";
	}
}
