<!doctype html>
[html[]
[head[]
	[meta[charset[utf-8]] /]
	[link[rel[stylesheet] type[text/css] href[../main.css]] /]
	[link[rel[stylesheet] type[text/css] href[../notes.css]] /]
	[title[]Dariusz Jędrzejczak -- Note [$date]]
]
[body[]
	[div[class[document narrow]]
		[h1[]
            [a[href[../index.html] title[Click here to go to the home page]]
                Dariusz Jędrzejczak
			]
        ]
		[h2[]
            [a[href[../notes.html] title[Click here to go to notes index]]Notes][sup[][a[href[https://en.wiktionary.org/wiki/notes#Polish]]*]]
		]
        [$blogo]
		[h3[]
			[a[href[./[$output_file_name]]][$date] ([$category]) [$title_full]]
		]

		[div[class[pre-wrap]][$content]
[hr]
This file was last (re)generated [$regenerate time].
[a[href[[$github page url]edit/master/posts/[$input file path]]]Edit this post]
[a[href[https://www.reddit.com/submit?url=[$root url][$output file path]]]reddit this post]
Write to me: dariusz.jedrzejczak.work+notes[span[class[mail-addr-postfix]]]
		]
	]
]
]
